body{
	background-color: #48999b;
	margin-left:12%;
	background-color:LightGray;
}

div{
	height:300px;
	margin-top: 10px;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 10px;
	text-align:center;
}
h1,h2{
	text-align:center;
	font-weight:bold;
}

table{
	margin:auto;
	height:180px;
	text-align:center;
}

td{
	width:200px;
}



p{
	color: black;
	font-weight:bold;
	padding-top: 5px;
	padding-bottom: 5px;
}

#haut{
	width:80%;
	height:80px;
}


#hg{
	width:25%;
	height:550px;
	float:left;
	padding-left:2%;
}
#hm{
	width:20%;
	height:480px;
	margin-left:1%;
	float:left;
	padding-left:1%;
	border: solid;
	border-radius: 30px;
}

#hd{
	width:25%;
	height:550px;
	margin-left:54%;
	margin-top: 20px;
	padding-right:2%;
	padding-top:1px;
}


#bg{
	width:50%;
	height:200px;
	float:left;
	padding-left:2%;
	text-align:left;
}

#bd{
	width:25%;
	height:200px;
	margin-left:54%;
	margin-top: 20px;
	padding-right:2%;
	padding-top:1px;
	border: solid;
	border-radius: 30px;
}

input{
	margin-right: 1%;
	margin-left:1%;
}

.gauche{
	text-align:left;
}
